pipeline/ETL Generic Extract JSON Debug.json
{
	"name": "ETL Generic Extract JSON Debug",
	"properties": {
		"activities": [
			{
				"name": "Move File to Processed",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Filter Filename",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureFileStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@concat('Import/',pipeline().parameters.DataWarehouseName,'/InProcess/')",
								"type": "Expression"
							},
							"wildcardFileName": {
								"value": "@activity('Filter Filename').output.value[0].name",
								"type": "Expression"
							},
							"deleteFilesAfterCompletion": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureFileStorageWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "FileMover",
						"type": "DatasetReference",
						"parameters": {
							"DataWarehouseName": {
								"value": "@pipeline().parameters.DataWarehouseName",
								"type": "Expression"
							},
							"InOrOut": "InProcess"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "FileMover",
						"type": "DatasetReference",
						"parameters": {
							"DataWarehouseName": {
								"value": "@pipeline().parameters.DataWarehouseName",
								"type": "Expression"
							},
							"InOrOut": "Processed"
						}
					}
				]
			},
			{
				"name": "Get Metadata",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Switch",
						"dependencyConditions": [
							"Succeeded",
							"Skipped"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "FileMover",
						"type": "DatasetReference",
						"parameters": {
							"DataWarehouseName": "Edgewell",
							"InOrOut": "InProcess"
						}
					},
					"fieldList": [
						"itemName",
						"childItems"
					],
					"storeSettings": {
						"type": "AzureFileStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Filter Filename",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@and(equals(item().type,'File'),startswith(item().name, pipeline().parameters.FilenamePattern))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Switch",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Execute Pipeline Generate Column Mapping",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@pipeline().parameters.DataWarehouseName",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "Edgewell",
							"activities": [
								{
									"name": "Copy data from Source to Ingest",
									"type": "Copy",
									"state": "Inactive",
									"onInactiveMarkAs": "Succeeded",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "AzureFileStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureFileStorageWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"value": "@activity('Execute Pipeline Generate Column Mapping').output.pipelineReturnValue",
											"type": "Expression"
										}
									},
									"inputs": [
										{
											"referenceName": "SourceFileJSON",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "SourceFileJSON",
											"type": "DatasetReference"
										}
									]
								}
							]
						}
					]
				}
			},
			{
				"name": "Execute Pipeline Generate Column Mapping",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ETL Generic Generate Column Mapping",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"DataWarehouseName": {
							"value": "@pipeline().parameters.DataWarehouseName",
							"type": "Expression"
						},
						"FilenamePattern": {
							"value": "@pipeline().parameters.FilenamePattern",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Fail",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Execute Pipeline Generate Column Mapping",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "Failed to connect to Storage Account or File Does Not Exist",
					"errorCode": "556"
				}
			}
		],
		"parameters": {
			"DataWarehouseName": {
				"type": "string",
				"defaultValue": "Edgewell"
			},
			"FilenamePattern": {
				"type": "string",
				"defaultValue": "tactical-edgewell"
			}
		},
		"variables": {
			"JSON_Properties": {
				"type": "Array"
			},
			"JSON_Properties_String": {
				"type": "String"
			},
			"Number_of_JSON_Properties": {
				"type": "Integer"
			},
			"Current_Property": {
				"type": "Integer"
			},
			"Column_Mapping_String": {
				"type": "String"
			},
			"Column Mapping String Helper": {
				"type": "String"
			},
			"Current_Property_Helper": {
				"type": "Integer"
			},
			"Helper_String": {
				"type": "String"
			},
			"ReadyColumnMapping": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Dev Leftovers"
		},
		"annotations": [],
		"lastPublishTime": "2024-01-12T14:56:23Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}